xterm*faceName: Iosevka
xterm*faceSize: 18
xterm*background: #000000
xterm*foreground: #d3d3d3
xterm*allowTitleOpts: false
xterm*cutNewline: false
xterm*cutToBeginningOfLine: false
xterm*charClass: 33:48,35:48,37:48,42:48,45-47:48,64:48,95:48,126:48
xterm*bellIsUrgent: false
xterm*visualBell: false
xterm*audibleBell: false
xterm*scrollTtyOutput: false
! takes Fn+K to lock
xterm*allowScrollLock: true
xterm*vt100.translations: #override \
    Ctrl <Key>End: scroll-forw(10000,line)
